.today{
    flex:6;
    padding:12px;
    background-color:#fcfcfc;
    border-radius:8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    .title{
        font-size:28px;
        font-weight: bold;
        color:#333;
    }
}