.today{
    flex:6;
    padding:12px;
    background-color:#fcfcfc;
    border-radius:8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    .title{
        font-size:28px;
        font-weight: bold;
        color:#333;
    }
    ul{
        list-style:none;
        padding:0;
        margin:0;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius:8px;
        cursor:pointer;
        background-color: #f9f9f9;
        transition:background 0.3s ease,transform 0.2s ease;
        border-bottom:1px solid #e0e0e0;
        &:hover{
            background-color:#f2f2f2;
            transform: translateY(-2px);
        }
        input{
            margin-right:10px;
            width:18px;
            height:18px;
            accent-color: #007bff;
        }
        label{
            flex:1;
            font-weight: 500;
            font-size:16px;
            color:#444;

            .details{
                display:flex;
                align-items: center;
                flex-wrap: wrap;
                gap:15px;
                margin-top:5px;
                padding: 8px;
                margin-top:5px;
                transition:opacity 0.3s ease-in-out;

                .left{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-right:1px solid #888;
                    gap:5px;
                    padding-right:10px;

                    .icon{
                        font-size:12px;
                        color:#777;
                    }
                    p{
                        font-size:12px;
                    }
                }
                .center{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border:1px solid #888;
                    gap:5px;
                    padding-right: 10px;

                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:20px;
                        height:15px;
                        border-radius:5px;
                        background-color:rgb(230,226,226);
                        color: #333;
                        font-size:10px;
                        font-weight: bold;
                        margin-left: auto;
                    }
                    
                }
            }
        }

    }
}