.sidebar{
    flex:1;
    background-color: #f4f4f4;
    min-height:100vh;
    color:#333;
    padding:10px 5px;
    
    .top{
        height:70px;
        padding:10px;
        .menu{
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding:5px;
            
            .menu-title{
                font-size:20px;
                font-weight:bold;
                color:#444;
            }
        }
        .search{
            display:flex;
            align-items:center;
            border:1px solid #ccc;
            border-radius:5px;
            padding:6px;
            background-color:#f4f4f4;

            input{
                border:none;
                outline:none;
                background-color:transparent;
                margin-left:5px;
                width:100%;

                &::placeholder{
                    color:#777;
                    font-size:12px;
                }
            }
        }
    }
    .center{
        list-style:none;
        padding:0;
        margin:0;
        .title{
            font-size:12px;
            font-weight:bold;
            color:#666;
            margin-top:15px;
            margin-bottom:5px;

        }
        li{
            display:flex;
            align-items:center;
            padding:8px;
            cursor:pointer;
            border-radius:5px;
            position: relative;
            transition: background 0.3s ease;

            .counter{
                display: flex;
                justify-content: center;
                align-items: center;
                width:20px;
                height:15px;
                border-radius:5px;
                background-color:rgb(230,226,226);
                font-size:10px;
                color:#333;
                font-weight: bold;
                margin-left: auto;
            }
            &:hover{
                background-color:#e0e0e0;
            }
            .icon{
                font-size:18px;
                color:#555;
            }
            .color{
                width:18px;
                height:18px;
                border-radius:3px;
                border: none;
            }
            span{
                font-weight: bold;
                font-size:14px;
                color:#444;
                margin-left:10px;
            }
        }
    }
}
