.sidebar{
    flex:1;
    background-color: #f4f4f4;
    min-height:100vh;
    color:#333;
    padding:10px 5px;
    
    .top{
        height:70px;
        padding:10px;
        .menu{
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding:5px;
            
            .menu-title{
                font-size:20px;
                font-weight:bold;
                color:#444;
            }
        }
        .search{
            display:flex;
            align-items:center;
            border:1px solid #ccc;
            border-radius:5px;
            padding:6px;
            background-color:#f4f4f4;

            input{
                border:none;
                outline:none;
                background-color:transparent;
                margin-left:5px;
                width:100%;

                &::placeholder{
                    color:#777;
                    font-size:12px;
                }
            }
        }
    }
}