.sidebar{
    flex:1;
    background-color: #f4f4f4;
    min-height:100vh;
    color:#333;
    padding:10px 5px;
    
    .top{
        height:70px;
        padding:10px;
        .menu{
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding:5px;
            
        }
    }
}