.home{
    display:flex;

    .homeContainer{
        flex:6;
        background-color: #f8f9fa;
        padding:10px 20px;
        .upcoming-title{
            display: flex;
            align-items: center;
            padding:10px;

            p{
                font-size: 18px;
                font-weight: bold;
                color: #2c2c2c;
            }
            span{
                height: 35px;
                width: 55px;
                background-color: #f0f0f0;
                border:1px solid #e6eee6;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                font-size: 30px;
                font-weight: normal;
            }
        }
    }
}