.home{
    display:flex;

    .homeContainer{
        flex:6;
        background-color: #f8f9fa;
        padding:10px 20px;
        .upcoming-title{
            display: flex;
            align-items: center;
            padding:10px;

            p{
                font-size: 18px;
                font-weight: bold;
                color: #2c2c2c;
            }
        }
    }
}